$color: #ca0;
$font: 'Fjalla One', sans-serif;
$count-color: rgba(204, 170, 0, 0.2);

body {
    background-image: url('../images/background-space.jpg');
    padding: 0;
    margin: 0;

}

.hexagon-box, .menu {
    width: 70vh;
    height: 70vh;
    position: absolute;
    margin: auto;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border-bottom: 1px solid white;
    position: relative;
    top: 670px;
}

.menu {
    z-index: -1;
}

.toggle {
    width: 8vh;
    height: 0;
    border-bottom: 7vh solid $color;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
    position: absolute;
}

.toggle:before {
    content: '';
    width: 8vh;
    height: 0;
    border-top: 7vh solid $color;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
    position: absolute;
    top: 6.8vh;
    left: -4vh;
}

.transparent {
    display: none;
}

.cell {
    width: 8vh;
    height: 0;
    border-bottom:7vh solid $color;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
    position: absolute;
}

.cell:before {
    content: '';
    width: 8vh;
    height: 0;
    border-top: 7vh solid $color;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
    position: absolute;
    top: 6.8vh;
    left: -4vh;
}

.countdown {
    width: 30%;
    height: 18%;
    color: white;
    position: absolute;
    margin: auto;
    top: -80vh;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-rows: 6vh 10vh;
    row-gap: 1vh;
    text-align: center;
    font-size: 4vh;
    background-color: $count-color;
    border-radius: 1vh;
}

.title {
    padding: 2%;
}
.count-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.count-timer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 4vh;
    padding: 2%;
}

