@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Sofia&display=swap');

$color: #ccaa00;
$font: 'Fjalla One', sans-serif;
$count-color: rgba(204, 170, 0, 0.2);
$back-box-color: #1a2336c7;
$back-color: rgba(65, 63, 192, 0.5);
$italic-font: 'Sofia';
$blue-color: #32b2e0;
$warm-gold: #e6a53f;

body {
    background-image: url('../images/background-space.jpg');
    width: 100vh;
    height: 100vh;
    margin: auto;
}

.hexagon-box {
    width: 100vh;
    height: 100vh;
    margin: auto;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .5s ease-in-out;
}

.cell, .cell-toggle {
    width: 14vh;
    height: 12vh;
    position: relative;
    text-align: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: $color;
    cursor: pointer;
}

.cell {
    visibility: hidden;
    z-index: 1;
    transition: 1s;
    opacity: .5;

    &:hover {
        opacity: 1;   
    }
}

.cell-toggle {
    z-index: 1;
    top: 41%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
    visibility: visible;
}

.cells {
    height: 80vh;
    top: 41%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
}

.j-webb-box {
    position: relative;
    top: -13vh;
    bottom: 0;
    left: 0;
    right: 0;
}

#j-webb {
    visibility: hidden;
    color: white;
    font-size: 3.5vh;
    opacity: .7;
    font-family: $font;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    position: absolute;
    z-index: 2;
    left: 45vh;
    top: 43vh;
    
    @keyframes scaleTitle {
        40% {
            visibility: hidden;
            font-size: 3.5vh;
            opacity: 0;
        }
        100% {
            visibility: visible;
            font-size: 3.5vh;
            opacity: .6;
        }
    }
    
}

.img-launch-cell {
    height: 100%;
    opacity: .6;
    position: relative;
    right: 2.5vh;
}

.img-orbit {
    height: 100%;
    opacity: .6;
    position: relative;
    right: 2vh;
}

#count-timer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 2vh;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

@keyframes scaleLaunch {
    0% {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    100% {
        visibility: visible;
        width: 30vh;
        height: 18vh;
        display: grid;
        grid-template-rows: 6vh 10vh;
        row-gap: 1vh;
        text-align: center;
        align-items: center;
        z-index: 2;
        color: white;
        position: absolute;
        margin: auto;
        top: -20vh;
        bottom: 0;
        left: 80vh;
        right: 0;
        background-color: $back-box-color;
        border-radius: 0.1vh;
        border: 1px solid white;
        font-family: $font;
    }
}

#countdown {
    visibility: hidden;
    position: relative;
    left: 95vh;
    top: -15vh;
    z-index: -2;

    #bg-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: url('../images/launch-img.png');
        background-size: 100% auto;
        width: 100%;
        height: auto;
        opacity: .7;
    }
    
    .title {
        font-size: 4vh;
        padding: 2%;
        padding-top: 5%;
    }

    .count-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 3vh;
    }
    
    #count-timer-max {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 4vh;
        padding: 2%;
    }
}

.orbit {
    visibility: hidden;
    z-index: 2;
    position: relative;
    top: -95vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80%;
    background-color: $back-color;
    color: rgba(255, 255, 255, 0.8);
    font-family: $font;
    font-size: 3vh;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .5s ease-in-out;

    #img-earth {
        width: 20vh;
        position: relative;
        top: 10vh;
        left: 5vh;
        opacity: 0;
    }

    #img-hubble {
        width: 4vh;
        position: relative;
        top: -5vh;
        left: -16vh;
        opacity: 0;
    }

    #img-moon {
        width: 6vh;
        position: relative;
        left: 10vh;
        opacity: 0;
    }
}

.orbit-info-title {
    font-size: 7vh;
    text-align: center;
    opacity: 0;
    transition: 1s ease-in;
    padding-top: 5vh;

    &.active {
        opacity: 1;
    }
}

.orbit-info-text {
    text-align: center;
    opacity: 0;
    padding: 3vh;
    transition: 1s ease-in;

    &.active {
        opacity: 1;
    }
}

.img-travel {
    visibility: visible;
    width: 90%;
    position: relative;
    opacity: 0.8;
    top: -100vh;
    left: 10vh;
}

.long-line, .short-line {
    visibility: hidden;
    border-bottom: .3vh solid $color;
    width: 0;
    height: 0;
    position: relative;
    left: 23vh;
    top: -2vh;
    margin: 1vh 0;
}

.text-short-line {
    visibility: hidden;
    position: relative;
    top: -8vh;
    width: 10vh;
    left: 23vh;
    font-size: 1.5vh;
    color: $color;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.text-long-line {
    visibility: hidden;
    position: relative;
    top: -2vh;
    width: 10vh;
    left: 40vh;
    width: 10vh;
    font-size: 1.5vh;
    color: $color;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.l2-point {
    visibility: hidden;
    position: relative;
    left: 83vh;
    top: -10vh;
    font-size: 1.5vh;
    color: $color;
    width: 15vh;
    text-align: center;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.hubble-line {
    visibility: hidden;
    font-size: 1.5vh;
    width: 20vh;
    position: relative;
    top: -34vh;
    text-align: left;
    left: 2vh;
    color: $color;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

@keyframes longLineAnimation {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
        width: 60vh; 
    }
    100% {
        visibility: visible;
        width: 60vh;

    }
}

@keyframes shortLineAnimation {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
        width: 10vh;
    }
    100% {
        visibility: visible;
        width: 10vh;
        
    }
}

@keyframes orbitAnimation1 {
    0% {
        visibility: hidden;
    }
    6% {
        visibility: visible;
        width: 18vh;
        opacity: .5;
    }
    100% {
        visibility: visible;
        width: 18vh;
        opacity: 1;
    }
}

@keyframes orbitAnimation3 {
    0% {
        visibility: hidden;
    }
    6% {
        visibility: visible;
        opacity: .5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes orbitAnimation4 {
    0% {
        visibility: hidden;
    }
    6% {
        visibility: visible;
        opacity: .5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes orbitAnimation2 {
    0% {
        visibility: visible;
        transform: scale(1);
        position: relative;
        left: 0vh;
        top: 0;
    }

    100% {
        visibility: visible;
        transform: scale(0.1);
        position: relative;
        left: 40vh;
        top: 13vh;
    }
}

@keyframes hexagonBoxMiddle {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
        transform: scale(0.5);
    }
}

.empty-div {
    position: relative;
    top: -60vh;
    width: 0;
    height: 0;
}

.x-button {
    visibility: hidden;
    position: absolute;
    left: 102vh;
    font-size: 5vh;
    color: $color;
    top: 0;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

#about-cell, #mirror-cell, #mission-cell, #duration-cell, #name-cell,
#instruments-cell, #ariane-cell, #budget-cell, #orbit-animation, #count-cell, #dev-cell, #hubble-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.about-text, .mirror-text, .mission-text, .duration-text, .name-text,
.instruments-text, .ariane-text, .budget-text, .orbit-text, .count-text, .dev-text, .hubble-text {
    font-family: $font;
    font-size: 2vh;
    cursor: pointer;
}

.about-fact, .mirror-fact, .mission-fact, .duration-fact, .name-cell-box,
.instruments-fact, .ariane-fact, .budget-fact, .count-fact, .dev-fact, .hubble-fact {
    position: absolute;
    top: 3vh;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 80vh;
    border-radius: 0.5vh;
    z-index: 2;
    display: block;
    margin: 0 auto;
}

.ariane-fact {
    background: $color;
    color: white;
    font-family: $font;
    height: 70vh;
    top: 13vh;
    transition: 1s ease-in;
    opacity: 0;

    .ariane-fact-text {
        font-family: Tahoma, Verdana, sans-serif;
        padding: 4vh;
        width: 48vh;
        font-size: 2vh;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.ariane-img {
    position: absolute;
    height: 85vh;
    left: 55vh;
    top: -10vh;
}

.ariane-fact-title, .name-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 8vh;
    background-color: white;
    padding: 4vh;
    color: $color;
    border-radius: .5vh;

    span {
        font-size: 4vh;
    }
}

.x-button-ariane {
    position: absolute;
    left: 83vh;
    top: 0;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.name-cell-box {
    background: $color;
    color: white;
    font-family: $font;
    height: 63vh;
    transition: 1s ease-in;
    opacity: 0;

    .jw-pic {
        width: 25vh;
        position: relative;
        height: 25vh;
        top: -53vh;
        left: 50vh;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.name-title {
    font-size: 7vh;
}

.name-cell-text, .jw-cite {
    font-family: Tahoma, Verdana, sans-serif;
    padding: 4vh;
    width: 40vh;
    font-size: 2.3vh;
}

.jw-cite {
    font-style: italic;
    width: 100%;
    font-size: 2vh;
}

.x-button-webb {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.mirror-fact {
    background: #ccaa00;
    color: white;
    font-family: "Fjalla One", sans-serif;
    transition: 1s ease-in;
    opacity: 0;

    .mirror-pic {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;

        img {
            width: 100%;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.mirror-title {
    font-size: 7vh;
    text-align: center;
    padding-top: 4vh;
}

.mirror-fact-text {
    font-family: Tahoma, Verdana, sans-serif;
    padding: 4vh;
    width: 90%;
    font-size: 2.3vh;
}

.x-button-mirror {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.duration-fact {
    background: $warm-gold;
    color: white;
    font-family: "Fjalla One", sans-serif;
    transition: 1s ease-in;
    opacity: 0;

    .duration-pic {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;

        img {
            width: 100%;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.duration-title {
    font-size: 7vh;
    text-align: center;
    padding-top: 4vh;
}

.duration-fact-text {
    font-family: Tahoma, Verdana, sans-serif;
    padding: 4vh;
    width: 90%;
    font-size: 2.3vh;
}

.x-button-duration {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $warm-gold;
    font-size: 5vh;
    cursor: pointer;
    transition: transform .5s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.mission-fact {
    background: $color;
    color: white;
    font-family: "Fjalla One", sans-serif;
    opacity: 0;
    transition: 1s ease-in;

    .mission-navbar {
        display: flex;
        justify-content: space-around;
        font-size: 2.3vh;
        height: 4.5vh;
        font-family: $italic-font;
        padding: 2vh;
        padding-bottom: 0;
        color: $color;
        transition: all 2s ease-in;
        transform: translate3d(0px, 0px, 0px);
        background-color: white;

        div {
            font-size: 2vh;
            padding: .5vh;
            cursor: pointer;

            &:hover {
                border-bottom: .5vh solid $color;
                transform: scale(1.1);
            }
        }

    }

    
    .text-bar {
        padding: 0 3.9vh;
        background-color: white;
        color: $color;
        position: relative;
        height: 15vh;
        
        .early-days-text, .galaxies-text, .other-worlds-text, .star-lifecycle-text {
            visibility: hidden;
            font-family: Tahoma, Verdana, sans-serif;
            font-size: 2vh;
            margin-right: 3.9vh;
            height: 13vh;
            position: absolute;
            background-color: white;
            color: black;
    
            div {
                padding: 2vh;
            }
        }

        .early-days-text.visible, .galaxies-text.visible, .other-worlds-text.visible, .star-lifecycle-text.visible {
            visibility: visible;
        }
    }

    .mission-pic {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background-color: black;

        img {
            height: 100%;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.mission-title {
    font-size: 7vh;
    text-align: center;
    padding-top: 4vh;
}

.mission-fact-text {
    font-family: Tahoma, Verdana, sans-serif;
    padding: 4vh;
    width: 90%;
    font-size: 2.3vh;
}

.x-button-mission {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}