@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&family=Lato:wght@300&family=Lobster&family=Sofia&display=swap');

$color: #ccaa00;
$font: 'Fjalla One', sans-serif;
$count-color: rgba(204, 170, 0, 0.2);
$back-box-color: #1a2336;
$back-color: rgba(65, 63, 192, 0.5);
$italic-font: 'Sofia';
$blue-color: #32b2e0;
$warm-gold: #e6a53f;
$fact-font: 'Coda', cursive;
$title-font: 'Lobster', cursive;

body {
    background-image: url('../images/background-space.jpg');
    width: 100vh;
    height: 100vh;
    margin: auto;
}

.hexagon-box {
    width: 100vh;
    height: 100vh;
    margin: auto;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .5s ease-in-out;
}

.cell, .cell-toggle {
    width: 14vh;
    height: 12vh;
    position: relative;
    text-align: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: $color;
    cursor: pointer;
}

.cell {
    visibility: hidden;
    z-index: 1;
    transition: 1s;
    opacity: .7;

    &:hover {
        opacity: 1;   
    }
}

.cell-toggle {
    z-index: 1;
    top: 41%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
    visibility: visible;
    opacity: .7;
}

.cells {
    height: 80vh;
    top: 41%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
}

#about-cell, #mirror-cell, #mission-cell, #duration-cell, #name-cell,
#instruments-cell, #ariane-cell, #budget-cell, #orbit-animation, #count-cell, #dev-cell, #hubble-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.about-title, .mirror-title, .mission-title, .duration-title, .name-title,
.instruments-title, .ariane-fact-title, .budget-title, .orbit-info-title, .count-title, .about-dev-title, .hubble-title {
    font-family: $title-font;
    font-size: 5vh;
    text-align: center;
    padding-top: 2vh;
}

.about-text, .mirror-text, .mission-text, .duration-text, .name-text,
.instruments-text, .ariane-text, .budget-text, .orbit-text, .count-text, .dev-text, .hubble-text {
    font-family: $font;
    font-size: 2vh;
    cursor: pointer;
}

.about-fact, .mirror-fact, .mission-fact, .duration-fact, .name-cell-box,
.instruments-fact, .ariane-fact, .budget-fact, .count-fact, .about-dev-fact, .hubble-fact, .countdown {
    position: absolute;
    top: 3vh;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    width: 80vh;
    border-radius: 0.5vh;
    z-index: 2;
    display: block;
    margin: 0 auto;
    font-family: $fact-font;
}

.j-webb-box {
    position: relative;
    top: -13vh;
    bottom: 0;
    left: 0;
    right: 0;
}

#j-webb {
    visibility: hidden;
    color: white;
    font-size: 3.5vh;
    opacity: .7;
    font-family: $font;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    position: absolute;
    z-index: 2;
    left: 45vh;
    top: 43vh;
    
    @keyframes scaleTitle {
        40% {
            visibility: hidden;
            font-size: 3.5vh;
            opacity: 0;
        }
        100% {
            visibility: visible;
            font-size: 3.5vh;
            opacity: .6;
        }
    }
    
}

.img-launch-cell {
    height: 100%;
    opacity: .6;
    position: relative;
    right: 2.5vh;
}

.img-orbit {
    height: 100%;
    opacity: .6;
    position: relative;
    right: 2vh;
}

#count-timer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 2vh;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

@keyframes scaleLaunch {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

#countdown {
    visibility: hidden;
    text-align: center;
    z-index: 2;
    color: white;
    margin: auto;
    background-color: $back-box-color;
    font-family: $fact-font;
    top: 17.5vh;
    width: 70vh;

    .count-part {
        height: 30vh;
    }

    .count-part-text {
        font-family: $fact-font;
        font-size: 2.5vh;
        text-align: center;
        padding: 4vh;
    }

    #bg-img {
        position: absolute;
        height: 30vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: url('../images/launch-img.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        opacity: 0.6;
    }
    
    .title {
        font-size: 4vh;
        padding: 2%;
        padding-top: 5%;
    }

    .count-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        small {
            font-size: 3vh;
        }
    }
    
    #count-timer-max {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 6vh;
        padding: 2%;
    }
}

.x-button-countdown {
    position: absolute;
    left: 73vh;
    top: 0;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.orbit {
    visibility: hidden;
    z-index: 2;
    position: relative;
    top: -95vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80%;
    background-color: $back-color;
    color: rgba(255, 255, 255, 0.8);
    font-family: $font;
    font-size: 3vh;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .5s ease-in-out;

    #img-earth {
        width: 20vh;
        position: relative;
        top: 10vh;
        left: 5vh;
        opacity: 0;
    }

    #img-hubble {
        width: 4vh;
        position: relative;
        top: -5vh;
        left: -16vh;
        opacity: 0;
    }

    #img-moon {
        width: 6vh;
        position: relative;
        left: 10vh;
        opacity: 0;
    }
}

.orbit-info-title {
    font-size: 7vh;
    text-align: center;
    opacity: 0;
    transition: 1s ease-in;
    padding-top: 5vh;

    &.active {
        opacity: 1;
    }
}

.orbit-info-text {
    text-align: center;
    opacity: 0;
    padding: 3vh;
    transition: 1s ease-in;

    &.active {
        opacity: 1;
    }
}

.img-travel {
    visibility: visible;
    width: 90%;
    position: relative;
    opacity: 0.8;
    top: -100vh;
    left: 10vh;
}

.long-line, .short-line {
    visibility: hidden;
    border-bottom: .3vh solid $color;
    width: 0;
    height: 0;
    position: relative;
    left: 23vh;
    top: -2vh;
    margin: 1vh 0;
}

.text-short-line {
    visibility: hidden;
    position: relative;
    top: -8vh;
    width: 10vh;
    left: 23vh;
    font-size: 1.5vh;
    color: $color;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.text-long-line {
    visibility: hidden;
    position: relative;
    top: -2vh;
    width: 10vh;
    left: 40vh;
    width: 10vh;
    font-size: 1.5vh;
    color: $color;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.l2-point {
    visibility: hidden;
    position: relative;
    left: 83vh;
    top: -10vh;
    font-size: 1.5vh;
    color: $color;
    width: 15vh;
    text-align: center;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.hubble-line {
    visibility: hidden;
    font-size: 1.5vh;
    width: 20vh;
    position: relative;
    top: -34vh;
    text-align: left;
    left: 2vh;
    color: $color;
    transition: 1s ease-in;
    transition-delay: 1s;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

@keyframes longLineAnimation {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
        width: 60vh; 
    }
    100% {
        visibility: visible;
        width: 60vh;

    }
}

@keyframes shortLineAnimation {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
        width: 10vh;
    }
    100% {
        visibility: visible;
        width: 10vh;
        
    }
}

@keyframes orbitAnimation1 {
    0% {
        visibility: hidden;
    }
    6% {
        visibility: visible;
        width: 18vh;
        opacity: .5;
    }
    100% {
        visibility: visible;
        width: 18vh;
        opacity: 1;
    }
}

@keyframes orbitAnimation3 {
    0% {
        visibility: hidden;
    }
    6% {
        visibility: visible;
        opacity: .5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes orbitAnimation4 {
    0% {
        visibility: hidden;
    }
    6% {
        visibility: visible;
        opacity: .5;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes orbitAnimation2 {
    0% {
        visibility: visible;
        transform: scale(1);
        position: relative;
        left: 0vh;
        top: 0;
    }

    100% {
        visibility: visible;
        transform: scale(0.1);
        position: relative;
        left: 40vh;
        top: 13vh;
    }
}

@keyframes hexagonBoxMiddle {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
        transform: scale(0.5);
    }
}

.x-button {
    visibility: hidden;
    position: absolute;
    left: 102vh;
    font-size: 5vh;
    color: $color;
    top: 0;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.ariane-fact {
    background: $color;
    color: white;
    height: 70vh;
    top: 13vh;
    transition: 1s ease-in;

    .ariane-fact-text {
        
        padding: 4vh;
        width: 48vh;
        font-size: 2vh;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.ariane-img {
    position: absolute;
    height: 85vh;
    left: 55vh;
    top: -10vh;
}

.ariane-fact-title, .name-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 8vh;
    background-color: white;
    padding: 4vh;
    color: $color;
    border-radius: .5vh;

    span {
        font-size: 4vh;
        font-family: $font;
    }
}

.x-button-ariane {
    position: absolute;
    left: 83vh;
    top: 0;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.name-cell-box {
    background: $color;
    color: white;
    font-family: $font;
    height: 63vh;
    transition: 1s ease-in;
    top: 15vh;

    .jw-pic {
        width: 25vh;
        position: relative;
        height: 25vh;
        top: -53vh;
        left: 50vh;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.name-title {
    font-size: 7vh;
}

.name-cell-text, .jw-cite {
    
    padding: 4vh;
    width: 40vh;
    font-size: 2.3vh;
}

.jw-cite {
    font-style: italic;
    width: 100%;
    font-size: 2vh;
}

.x-button-webb {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.mirror-fact {
    background: #d5ad3f;
    color: white;
    transition: 1s ease-in;
    top: 6vh;

    .mirror-fact-text {
        padding: 4vh;
        padding-top: 2vh;
        font-size: 2vh;
    }

    .mirror-pic {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        font-size: 5vh;
        text-align: center;
        justify-content: center;

        img {
            height: 100%;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.x-button-mirror {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: #d5ad3f;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.about-dev-fact {
    background: $warm-gold;
    color: white;
    display: grid;
    height: 50vh;
    grid-template-columns: 60% auto;
    transition: 1s ease-in;
    opacity: 1;
    top: 20vh;
    
    .about-dev-pic {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;

        img {
            height: 100%;
            opacity: .7;
        }
    }
}

.dev-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2vh;

    .personal-site:hover, .email:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    
    a {
        color: white;
        text-decoration: none;
    }

    svg {
        padding-right: 1vh;
    }
}

.about-dev-title {
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
}

.links {
    font-size: 5vh;
    padding-bottom: 2vh;

    .personal-site, .email, svg:hover {
        transform: scale(1.2);
    }
}

.about-dev-fact-text {
    padding: 0 4vh;
    width: 90%;
    font-size: 2.3vh;
    text-align: center;
}


.project-box {
    text-align: center;
    padding-top: 3vh;
    margin: 0;
    padding: 0;
    font-family: $title-font;
    
    h1 {
        font-size: 5vh;
        font-weight: 400;
    }
}
.projects {
    display: flex;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: white;
    }

    .open-dnd-table:hover, .flux:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.x-button-about-dev {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $warm-gold;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.duration-fact {
    background: $warm-gold;
    color: white;
    transition: 1s ease-in;
    opacity: 0;
    text-align: center;
    top: 6vh;

    .duration-pic {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;

        img {
            width: 100%;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.duration-title {
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
}

.duration-fact-text {
    
    padding: 4vh;
    padding-top: 2vh;
    width: 90%;
    font-size: 2.3vh;
}

.x-button-duration {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $warm-gold;
    font-size: 5vh;
    cursor: pointer;
    transition: transform .5s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.mission-fact {
    background: $color;
    color: white;
    opacity: 0;
    transition: 1s ease-in;
    height: 90vh;
    display: grid;
    grid-template-rows: 40vh 10vh 21.5vh 6.5vh 12vh 0;

    .mission-navbar {
        display: flex;
        justify-content: space-around;
        font-size: 2.3vh;
        height: 4.5vh;
        font-family: $italic-font;
        padding: 1vh;
        color: $color;
        transition: all 2s ease-in;
        transform: translate3d(0px, 0px, 0px);
        background-color: white;

        div {
            font-size: 2vh;
            padding: .5vh;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                color: $blue-color;
            }
        }

    }

    
    .text-bar {
        padding: 0 3.9vh;
        background-color: white;
        color: $color;
        position: relative;
        height: 100%;
        
        .early-days-text, .galaxies-text, .other-worlds-text, .star-lifecycle-text {
            visibility: hidden;
            font-size: 2vh;
            height: 100%;
            position: absolute;
            background-color: white;
            color: black;
    
            div {
                padding-right: 2vh;
            }
        }

        .early-days-text.visible, .galaxies-text.visible, .other-worlds-text.visible, .star-lifecycle-text.visible {
            visibility: visible;
        }
    }

    .mission-pic {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background-color: black;

        img {
            height: 100%;
        }
    }


    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.mission-title {
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
}

.mission-fact-text {
    padding: 2vh 4vh;
    width: 90%;
    font-size: 2.3vh;
}

.x-button-mission {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

@keyframes factAnimation {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
}

.hubble-fact {
    background: #ccaa00;
    color: white;
    
    transition: 1s ease-in;
    opacity: 1;

    .hubble-pic {
        height: 40vh;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;

        img {
            width: 100%;
        }
    }
}

.hubble-title {
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
}

.hubble-fact-text {
    
    padding: 4vh;
    width: 90%;
    font-size: 2.3vh;
}

.x-button-hubble {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.about-fact {
    background: #ccaa00;
    color: white;
    transition: 1s ease-in;
    opacity: 1;
    top: 6vh;

    .about-pic {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: black;

        img {
            height: 100%;
        }
    }
}

.about-fact-text {
    padding: 4vh;
    width: 90%;
    font-size: 2.4vh;
    text-align: center;
}

.x-button-about {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.instruments-fact {
    display: grid;
    grid-template-rows: 30vh 5vh 10vh auto;
    background: $color;
    border-radius: 0;
    width: 110vh;
    top: 12vh;
    color: white;
    z-index: -2;

    .first-div-instruments {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .instruments-pic {
        overflow: hidden;
        height: 90%;
        display: flex;
        align-items: flex-start;
        border-radius: 5px;
    }

    .instruments-fact-text {
        font-size: 2vh;
        padding-left: 6vh;
        display: flex;
        align-items: center;
    }

    ul {
        margin: 0;
        display: grid;
        grid-template-columns: 24vh 24vh 24vh auto;
        column-gap: 2vh;
        padding: 0 6vh;
        align-items: center;
        list-style: none;
        text-align: center;
        font-family: $fact-font;
        font-style: italic;
        transition: 1s ease-in-out;
        background-color: white;
        color: $color;
        font-size: 70%;

        li:hover {
            color: $blue-color;
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    .instruments-list-text {
        height: auto;

        .details-text {
            visibility: hidden;
            position: absolute;
            top: 45vh;
            padding: 2vh 6vh;
            background-color: $color;
            z-index: -2;

            &.visible {
                visibility: visible;
            }
        }
    }
}

.x-button-instruments {
    position: absolute;
    left: 111vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}

.budget-fact {
    background: #ccaa00;
    color: white;
    
    transition: 1s ease-in;
    opacity: 1;

    .budget-pic {
        height: 40vh;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;

        img {
            height: 100%;
        }
    }
}

.budget-title {
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
}

.budget-fact-text {
    
    padding: 4vh;
    width: 90%;
    font-size: 2.3vh;
}

.x-button-budget {
    position: absolute;
    left: 83vh;
    top: -1vh;
    color: $color;
    font-size: 5vh;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }
}